@import 'src/styles/variables';
.section {
  &-header {
    background-image: url('~src/assets/images/bg_ben_na.jpg');
    height: 100vh;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    @media screen and (max-width: 900px) {
      background-position: 70%;
    }
  }
}

.header {
  position: absolute;
  margin: auto;
  width: 100%;
  top: 2rem;
}
