@import 'src/styles/variables';
.section {
  &-header {
    height: 100vh;
    background-size: cover;
    background-position: top center;
    background-attachment: inherit;
    @media screen and (max-width: 580px) {
      background-position: 25% 0;
    }
    @media screen and (max-width: 1676px) {
      background-position: 25% 0;
    }
    @media screen and (max-width: 900px) {
      background-position: 25% 0;
    }
  }
}

.header {
  position: absolute;
  margin: auto;
  width: 100%;
  top: 0;
}
