<audio autoplay controls loop hidden>
  <source src="assets/audios/background.mp3" type="audio/mpeg" />
</audio>
<div
  class="section-header bg-fixed"
  style="background-image: url('assets/images/{{ selectedBackground }}')"
>
  <div class="overlay"></div>
</div>
<div class="header">
  <app-header (toggleSideNav)="onToggleSideNav($event)"></app-header>
</div>
<app-count-down></app-count-down>
<!--<router-outlet></router-outlet>-->
<app-home></app-home>
<app-about-us></app-about-us>
<app-celebration></app-celebration>
<app-gallery></app-gallery>
