$font-family-base: 'Sacramento', cursive;
$font-size: 3rem;
$font-size-brand: 2rem;
$font-size-menu: 1.5rem;
$color-pink: rgba(241, 78, 149, 0.8);
$color-white: rgba(255, 255, 255, 255);
$color-black: rgba(0, 0, 0, 0.5);
