.about-us {
  .title {
    margin: 2rem;
  }
  div {
    font-size: 20px;
  }
  .org-chart {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    width: 80%;
    margin: 10rem auto auto;
    @media screen and (max-width: 425px) {
      margin-top: unset;
    }
  }
}
