<div class="about-us" id="about-us">
  <h2 class="text-center title" data-aos="zoom-in">
    {{ 'ABOUT_US.TITLE' | translate }}
  </h2>
  <div id="fh5co-couple">
    <div class="container">
      <!--      <div class="row justify-content-center">-->
      <!--        <div-->
      <!--          class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box"-->
      <!--        >-->
      <!--          <h2>Hello!</h2>-->
      <!--          <h3>December 15th, 2022</h3>-->
      <!--          <p>We invited you to celebrate our wedding</p>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="couple-wrap animate-box" data-aos="zoom-in-up">
        <div class="couple-half">
          <div class="groom">
            <img
              alt="groom"
              class="rounded-full w-12"
              src="assets/images/groom_avatar.jpg"
            />
          </div>
          <div class="desc-groom">
            <h2>{{ 'ABOUT_US.GROOM_NAME' | translate }}</h2>
            <p>{{ 'ABOUT_US.GROOM' | translate }}</p>
          </div>
        </div>
        <p class="heart text-center"><i class="icon-heart2"></i></p>
        <div class="couple-half">
          <div class="bride">
            <img
              alt="groom"
              class="rounded-full w-12"
              src="assets/images/bride_avatar.jpg"
            />
          </div>
          <div class="desc-bride">
            <h2>{{ 'ABOUT_US.BRIDE_NAME' | translate }}</h2>
            <p>{{ 'ABOUT_US.BRIDE' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="org-chart">
    <div>
      <h2 class="text-center">{{ 'ABOUT_US.BRIDE_FAMILY' | translate }}</h2>
      <div class="flex flex-col items-center gap-x-4 gap-y-4">
        <div
          class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
          data-aos="fade-left"
        >
          <img
            alt=""
            class="object-cover w-full rounded-lg sm:h-auto md:h-36 sm:w-full md:rounded-r-lg"
            src="assets/images/bride_father.jpg"
          />
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
              {{ 'ABOUT_US.BRIDE_FATHER' | translate }}
            </h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Here are the biggest enterprise technology acquisitions of 2021 so
              far, in reverse chronological order.
            </p>
          </div>
        </div>
        <div
          class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
          data-aos="fade-right"
        >
          <img
            alt=""
            class="object-cover w-full rounded-lg sm:h-auto md:h-36 sm:w-full md:rounded-r-lg"
            src="assets/images/bride_mother.jpg"
          />
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight">
              {{ 'ABOUT_US.BRIDE_MOTHER' | translate }}
            </h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Here are the biggest enterprise technology acquisitions of 2021 so
              far, in reverse chronological order.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--    <p-organizationChart-->
    <!--      (onNodeSelect)="onNodeSelect($event)"-->
    <!--      [(selection)]="selectedNode"-->
    <!--      [value]="brideFamily"-->
    <!--      selectionMode="single"-->
    <!--      styleClass="company"-->
    <!--    >-->
    <!--      <ng-template let-node pTemplate="person">-->
    <!--        <div class="node-header">{{ node.label }}</div>-->
    <!--        <div class="node-content">-->
    <!--          <img src="http://localhost:8080/api/images" width="32" />-->
    <!--          <div>{{ node.data.name }}</div>-->
    <!--        </div>-->
    <!--      </ng-template>-->
    <!--      <ng-template let-node pTemplate="department">-->
    <!--        {{ node.label }}-->
    <!--      </ng-template>-->
    <!--    </p-organizationChart>-->
    <div>
      <h2 class="text-center">{{ 'ABOUT_US.GROOM_FAMILY' | translate }}</h2>
      <div class="flex flex-col items-center gap-x-4 gap-y-4">
        <div
          class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
          data-aos="fade-left"
        >
          <img
            alt=""
            class="object-cover w-full rounded-lg sm:h-auto md:h-36 sm:w-full md:rounded-r-lg"
            src="assets/images/groom_father.jpg"
          />
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
              {{ 'ABOUT_US.GROOM_FATHER' | translate }}
            </h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Here are the biggest enterprise technology acquisitions of 2021 so
              far, in reverse chronological order.
            </p>
          </div>
        </div>
        <div
          class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
          data-aos="fade-right"
        >
          <img
            alt=""
            class="object-cover w-full rounded-lg sm:h-auto md:h-36 sm:w-full md:rounded-r-lg"
            src="assets/images/wedding_bg.jpg"
          />
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight">
              {{ 'ABOUT_US.GROOM_MOTHER' | translate }}
            </h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Here are the biggest enterprise technology acquisitions of 2021 so
              far, in reverse chronological order.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--    <p-organizationChart-->
    <!--      (onNodeSelect)="onNodeSelect($event)"-->
    <!--      [(selection)]="selectedNode"-->
    <!--      [value]="groomFamily"-->
    <!--      selectionMode="single"-->
    <!--      styleClass="company"-->
    <!--    >-->
    <!--      <ng-template let-node pTemplate="person">-->
    <!--        <div class="node-header">{{ node.label }}</div>-->
    <!--        <div class="node-content">-->
    <!--          <img-->
    <!--            src="assets/showcase/images/demo/organization/{node.data.avatar}"-->
    <!--            width="32"-->
    <!--          />-->
    <!--          <div>{{ node.data.name }}</div>-->
    <!--        </div>-->
    <!--      </ng-template>-->
    <!--      <ng-template let-node pTemplate="department">-->
    <!--        {{ node.label }}-->
    <!--      </ng-template>-->
    <!--    </p-organizationChart>-->
  </div>
</div>
