<div class="about-us">
  <h2 class="text-center title">About us</h2>
  <div id="fh5co-couple">
    <div class="container">
      <!--      <div class="row justify-content-center">-->
      <!--        <div-->
      <!--          class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box"-->
      <!--        >-->
      <!--          <h2>Hello!</h2>-->
      <!--          <h3>December 15th, 2022</h3>-->
      <!--          <p>We invited you to celebrate our wedding</p>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="couple-wrap animate-box">
        <div class="couple-half">
          <div class="groom">
            <img
              alt="groom"
              class="img-responsive"
              src="assets/images/groom.jpg"
            />
          </div>
          <div class="desc-groom">
            <h2>Tang The Anh</h2>
            <p>Far far away, behind the word mountains</p>
          </div>
        </div>
        <p class="heart text-center"><i class="icon-heart2"></i></p>
        <div class="couple-half">
          <div class="bride">
            <img
              alt="groom"
              class="img-responsive"
              src="assets/images/bride.jpg"
            />
          </div>
          <div class="desc-bride">
            <h2>Mai Kim Phung</h2>
            <p>Far far away, behind the word mountains</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="org-chart">
    <p-organizationChart
      (onNodeSelect)="onNodeSelect($event)"
      [(selection)]="selectedNode"
      [value]="brideFamily"
      selectionMode="single"
      styleClass="company"
    >
      <ng-template let-node pTemplate="person">
        <div class="node-header">{{ node.label }}</div>
        <div class="node-content">
          <img src="http://localhost:8080/api/images" width="32" />
          <div>{{ node.data.name }}</div>
        </div>
      </ng-template>
      <ng-template let-node pTemplate="department">
        {{ node.label }}
      </ng-template>
    </p-organizationChart>
    <p-organizationChart
      (onNodeSelect)="onNodeSelect($event)"
      [(selection)]="selectedNode"
      [value]="groomFamily"
      selectionMode="single"
      styleClass="company"
    >
      <ng-template let-node pTemplate="person">
        <div class="node-header">{{ node.label }}</div>
        <div class="node-content">
          <img
            src="assets/showcase/images/demo/organization/{node.data.avatar}"
            width="32"
          />
          <div>{{ node.data.name }}</div>
        </div>
      </ng-template>
      <ng-template let-node pTemplate="department">
        {{ node.label }}
      </ng-template>
    </p-organizationChart>
  </div>
</div>
