<div class="wrapper">
  <div class="title">Count down to my wedding</div>
  <div class="description">
    <div class="block">
      <p class="label">Days</p>
      <p class="value" id="days"></p>
    </div>
    <div class="block">
      <p class="label">Hours</p>
      <p class="value" id="hours"></p>
    </div>
    <div class="block">
      <p class="label">Minutes</p>
      <p class="value" id="mins"></p>
    </div>
    <div class="block">
      <p class="label">Seconds</p>
      <p class="value" id="seconds"></p>
    </div>
  </div>
  <div class="save-date">
    <a href="#">Save the date</a>
  </div>
</div>
