<div class="wrapper" data-aos="fade-in">
  <!--  <div class="title">Count down to my wedding</div>-->
  <div class="description">
    <div class="block">
      <p class="value" id="days"></p>
      <p class="label">{{ 'COUNTDOWN.DAY' | translate }}</p>
    </div>
    <div class="block">
      <p class="value" id="hours"></p>
      <p class="label">{{ 'COUNTDOWN.MONTH' | translate }}</p>
    </div>
    <div class="block">
      <p class="value" id="mins"></p>
      <p class="label">{{ 'COUNTDOWN.YEAR' | translate }}</p>
    </div>
    <!--    <div class="block">-->
    <!--      <p class="label">{{ 'COUNTDOWN.SECOND' | translate }}</p>-->
    <!--      <p class="value" id="seconds"></p>-->
    <!--    </div>-->
  </div>
  <!--  <div class="save-date">-->
  <!--    <a href="#">Save the date</a>-->
  <!--  </div>-->
</div>
