@import 'styles/ui';
@import 'styles/icomoon';
@import '../node_modules/@syncfusion/ej2-angular-diagrams/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';

html,
body {
  height: 100%;
}
*,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $font-charm;
}

.my-gallery {
  .gallery {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    &-image {
      width: 19.75vw;
      height: 19.75vw;
      padding: 0;
      object-fit: cover;
      @media (max-width: 1024px) {
        width: 19.4vw;
        height: 19.4vw;
      }

      @media (max-width: 768px) {
        width: 23.83vw;
        height: 23.83vw;
      }
      @media (max-width: 480px) {
        width: 31vw;
        height: 31vw;
      }

      @media (max-width: 320px) {
        width: 30vw;
        height: 30vw;
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: auto auto auto auto;
    }

    @media (max-width: 480px) {
      grid-template-columns: auto auto auto;
    }
  }
}

a {
  text-decoration: none !important;
  color: $color-white !important;
}
