@import 'src/styles/variables';
.header {
  margin: 40px;
  display: flex;
  &-brand {
    width: 100%;
    cursor: pointer;
    font-size: $font-size-brand;
    margin: auto;
    color: $color-pink;
    font-weight: bold;
    //animation-name: headerAnimation;
    //animation-duration: 1.5s;
    //animation-iteration-count: infinite;
  }
  &-menu {
    font-size: $font-size-menu;
    display: flex;
    color: $color-white;
    width: 100%;
    gap: 1.5rem;
    a {
      text-decoration: none;
      color: $color-white;
    }
  }

  .language-switch {
    color: $color-white;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  &.mobile {
    .language-switch {
      display: none;
    }
    .header {
      margin: unset;
      &-brand {
        display: flex;
        justify-content: center;
      }
      &-menu {
        display: none;
      }

      &-sidenav {
        background: $color-pink;
        color: $color-white;
        width: 60vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        flex-direction: column;
        //gap: 2rem;
        text-align: center;
        padding-top: 1rem;
        a {
          width: 100%;
          padding: 1rem;
        }
        .language-switch-mobile {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          margin-top: 1rem;
        }
      }
    }
  }

  .indicator {
    color: $color-white;
  }
}

@keyframes headerAnimation {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}
