@import 'src/styles/variables';
.header {
  margin-left: 40px;
  display: flex;
  &-brand {
    width: 100%;
    //text-align: center;
    font-size: $font-size-brand;
    margin: auto;
    color: $color-pink;
    font-weight: bold;
  }
  &-menu {
    font-size: $font-size-menu;
    display: flex;
    color: $color-white;
    width: 100%;
    gap: 1.5rem;
    a {
      text-decoration: none;
      color: $color-white;
    }
  }
}
