<div class="fh5co-bg" id="fh5co-event">
  <div class="container">
    <div class="row" data-aos="fade-left">
      <div class="col-md-12 text-center fh5co-heading animate-box">
        <span>Our Special Events</span>
        <h2>Wedding Events</h2>
      </div>
    </div>
    <div class="row" data-aos="fade-right">
      <div class="display-t">
        <div class="display-tc">
          <div class="col-md-12 col-md-offset-1 d-flex justify-content-center">
            <div class="col-md-6 col-sm-6 text-center">
              <div class="event-wrap animate-box">
                <h3>Wedding Party</h3>
                <div class="event-col">
                  <i class="icon-clock"></i>
                  <span>19h00</span>
                  <span>22h00</span>
                </div>
                <div class="event-col">
                  <i class="icon-calendar"></i>
                  <span>Thursday 15</span>
                  <span>December, 2022</span>
                </div>
                <p>
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                  Separated they live in Bookmarksgrove right at the coast of
                  the Semantics, a large language ocean.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
