<div class="fh5co-bg" id="fh5co-event">
  <div class="container">
    <div class="row" data-aos="zoom-in-up">
      <div class="col-md-12 text-center fh5co-heading animate-box">
        <span>{{ 'CELEBRATION.OUR_SPECIAL_EVENTS' | translate }}</span>
        <h2>{{ 'CELEBRATION.WEDDING_EVENTS' | translate }}</h2>
      </div>
    </div>
    <div class="row" data-aos="zoom-in-down">
      <div class="display-t">
        <div class="display-tc">
          <div class="col-md-12 col-md-offset-1 d-flex justify-content-center">
            <div class="col-md-6 col-sm-6 text-center">
              <div class="event-wrap animate-box">
                <h3>{{ 'CELEBRATION.WEDDING_PARTY' | translate }}</h3>
                <div class="event-col">
                  <i class="icon-clock"></i>
                  <span>19h00</span>
                  <span>22h00</span>
                </div>
                <div class="event-col">
                  <i class="icon-calendar"></i>
                  <span>{{ 'CELEBRATION.DATE.WEEK_DAY' | translate }}</span>
                  <span>{{ 'CELEBRATION.DATE.MONTH_YEAR' | translate }}</span>
                </div>
                <p>{{ 'CELEBRATION.WEDDING_PLACE' | translate }}</p>
                <p>{{ 'CELEBRATION.WEDDING_ADDRESS' | translate }}</p>
                <button (click)="showMap()">
                  {{ 'CELEBRATION.WEDDING_MAP' | translate }}
                </button>
                <div *ngIf="isDisplayed" class="map" data-aos="zoom-in-up">
                  <div class="mapouter">
                    <div class="gmap_canvas">
                      <iframe
                        class="gmap_iframe"
                        src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=White Palace Thủ Đức&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                        width="100%"
                      ></iframe
                      ><a href="https://piratebay-proxys.com/">Piratebay</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
